header
  nav 
    .logo
      a(href="/") Home
    .nav-links
      a(href="array-helpers.html") Array Helpers
      a(href="variables.html") Variables
      a(href="template-strings.html") Template Strings
      a(href="arrow-functions.html") Arrow Functions
      a(href="object-literals.html") Object Literals
      a(href="default-function-arguments.html") Default Function Arguments
      a(href="rest-and-spread-operators.html") Rest and Spread Operators
      a(href="destructing.html") Destructing