extends layouts/default.pug

block content
  div(id="generators-page" class="container")
    h2 Generators

    ul
      li
        a(href="#generators") generators
      
    hr

    h4(id="generators") generators

    p ...

    div(class="code")


    div(id="generators-result-one" class="example")