extends layouts/default.pug

block content
  div(class="container")
    h4 Code-Along for Modern Javascript Bootcamp

    ul
      li
        a(href="array-helpers.html") Array Helpers
      li
        a(href="variables.html") Variables
      li
        a(href="template-strings.html") Template Strings
      li
        a(href="arrow-functions.html") Arrow Functions
      li
        a(href="object-literals.html") Object Literals
      li
        a(href="default-function-arguments.html") Default Function Arguments
      li
        a(href="rest-and-spread-operators.html") Rest and Spread Operators
      li
        a(href="destructing.html") Destructing