extends layouts/default.pug

block content
  div(class="container")
    h4 Code-Along for Modern Javascript Bootcamp

    ul
      li
        a(href="array-helpers.html") Array Helpers
      li
        a(href="variables.html") Variables
      li
        a(href="template-strings.html") Template Strings