extends layouts/default.pug

block content
  div(id="promises-and-fetch-page" class="container")
    h2 Promises and Fetch

    ul
      li
        a(href="#promises") promises
      
    hr

    h4(id="promises") promises

    p ...

    div(class="code")
      


    div(id="promises-and-fetch-result-one" class="example")