extends layouts/default.pug

block content
  div(id="rest-and-spread-operators-page" class="container")
    h2 Rest And Spread Operators
    ul
      li
        a(href="#rest-and-spread-operators") rest and spread operators
      
    hr

    h4(id="rest-and-spread-operators") rest and spread operators

    p ...

    div(class="code")
      

    div(id="rest-and-spread-operators-result-one" class="example")