doctype html
html
  head
    title Modern JavaScript Bootcamp 2019
    include ../includes/head.pug
  body
    include ../includes/header.pug

    main
      block content

    include ../includes/footer.pug