doctype html
html
  head
    title ES6 JavaScript
    include ../includes/head.pug
  body
    include ../includes/header.pug

    main
      block content

    include ../includes/footer.pug