.container {
  width: 900px;
  margin: 0 auto;

  a {
    text-decoration: none;
  }
  
  a:link, a:visited {
    color: darken($color-link, 4%);
  }
  
  a:hover, a:active {
    color: lighten($color-link, 12%);
  }
}

h1, h2, h3 {
  margin: 2rem 0 1.5rem;
}

h4, h5, h6 {
  margin: 3rem 1rem 1rem;
}

p {
  margin: 1rem;
}

ul {
  margin: 2rem 3rem;

  li {
    margin: 1rem 0;
  }
}

hr {
  opacity: 0.25;
}

.example {
  border: 1px solid $color-primary;
  margin: 1rem 1rem 4rem;
}

.code {
  border: 1px solid $color-primary;
  border-radius: 5px;
  background-color: lighten($color-primary, 15%);
  margin: 20px 1rem;
  padding: 15px 0;

  .i {
    margin-left: 2rem;
  }

  .i2 {
    margin-left: 4rem;
  }

  .i3 {
    margin-left: 6rem;
  }

  .s::after {
    content: "-";
    color: lighten($color-primary, 15%);
  }

  code {
    color: #FFF;
    padding: 0 20px;
    font-weight: 500;
    font-size: 1.8rem;
    display: block;
  }
}
